name: NetworkSecurity CI-CD

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  ci:
    name: CI - Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: CI check
        run: echo "CI pipeline passed"

  build-and-push:
    name: Build & Push Docker Image to ECR
    needs: ci
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag & Push Docker Image
        run: |
          ECR_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
          docker build -t $ECR_URI/${{ secrets.AWS_ECR_REPOSITORY }}:latest .
          docker push $ECR_URI/${{ secrets.AWS_ECR_REPOSITORY }}:latest
