name: NetworkSecurity CI-CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ap-south-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Verify AWS identity
        run: aws sts get-caller-identity

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password \
          | docker login --username AWS --password-stdin \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build & Push Docker Image
        run: |
          docker build -t networksecurity2-ml-2026 .
          docker tag networksecurity2-ml-2026:latest \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com/networksecurity2-ml-2026:latest
          docker push \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com/networksecurity2-ml-2026:latest