name: NetworkSecurity CI-CD

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS CLI
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set region ap-south-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region ap-south-1 \
          | docker login --username AWS --password-stdin \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build & Push Docker Image
        run: |
          docker build -t networksecurity2-ml-2026 .
          docker tag networksecurity2-ml-2026:latest \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com/networksecurity2-ml-2026:latest
          docker push \
          260735202232.dkr.ecr.ap-south-1.amazonaws.com/networksecurity2-ml-2026:latest
